<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1ZY4GStZzDVGOYsMS2BXg_kH6XNcoYJk</string>
	<key>GCM_SENDER_ID</key>
	<string>440038354297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ppb</string>
	<key>PROJECT_ID</key>
	<string>uas-ppb-6-61b84</string>
	<key>STORAGE_BUCKET</key>
	<string>uas-ppb-6-61b84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440038354297:ios:03503ca4ecdbadf170d3a8</string>
</dict>
</plist>